<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Form</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
            color: #333;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
            color: #444;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        table,
        th,
        td {
            border: 1px solid #ccc;
        }

        th,
        td {
            padding: 12px;
            text-align: center;
        }

        th {
            background-color: #007BFF;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1;
        }

        .container {
            margin: 20px auto;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Donation Report</h1>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Donor Name</th>
                    <th>Email</th>
                    <th>Food Item</th>
                    <th>Food Quantity</th>
                    <th>Date of delivered</th>
                </tr>
            </thead>
            <tbody>
                <% reportData.forEach(item=> { %>
                    <tr>
                        <td>
                            <%= item.dname %>
                        </td>
                        <td>
                            <%= item.email %>
                        </td>
                        <td>
                            <%= item.foodName %>
                        </td>
                        <td>
                            <%= item.quantity %>
                        </td>
                        <td>
                            <%= item.date %>
                        </td>

                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>